[submodule "google-api-php-client"]
	path = google-api-php-client
	url = https://github.com/google/google-api-php-client.git
	branch = v1-master
[submodule "php-rest-api"]
	path = messagebird-rest-api
	url = https://github.com/messagebird/php-rest-api
